menu "Example Configuration"

    menu "AP Configuration"
        comment "AP Configuration"

        config EXAMPLE_WIFI_SSID
            string "Wi-Fi SSID"
            default "sta2ap"
            help
                Set the SSID of Wi-Fi ap interface.

        config EXAMPLE_WIFI_PASSWORD
            string "Wi-Fi Password"
            default "12345678"
            help
                Set the password of Wi-Fi ap interface.

        config EXAMPLE_WIFI_CHANNEL
            int "WiFi channel"
            range 1 13
            default 1
            help
                Set the channel of Wi-Fi ap.

    endmenu

    menu "STA Configuration"
        comment "STA Configuration"

        config EXAMPLE_WIFI_STA_SSID
            string "WiFi Station SSID"
            default "myssid"
            help
                SSID for the example's sta to connect to.

        config EXAMPLE_WIFI_STA_PASSWORD
            string "WiFi Station Password"
            default "mypassword"
            help
                WiFi station password for the example to use.

        config EXAMPLE_MAXIMUM_STA_RETRY
            int "Maximum retry"
            default 5
            help
                Set the maximum retry value to prevent the station from continuously
                attempting to reconnect to the Access Point (AP) when the AP doesn't exist.
    endmenu

    config EXAMPLE_MODIFY_DHCP_MESSAGES
        bool "Modify DHCP messages"
        default y
        help
            This is needed if the client uses 61 option and the DHCP server applies strict rules
            on assigning addresses.
            Set this to 'n' if you don't need DHCP or you're using simplified DHCP workflow
            without HW address options in DHCP messages.

endmenu
