CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_EXAMPLE_FIRMWARE_UPGRADE_URL="https://192.168.0.32:1234/esp32.bin"
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y
